@import "../components/products-page/productDisplay";
@import "../components/products-page/sidebar/productSection";
@import "../components/products-page/productTopLinks";
.product-page {
  background-color: #ededed;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;
}
.product-page__ctn {
  max-width: 1200px;
  margin: 0 auto;
}

.product-screen {
  display: flex;
  width: 100%;
  margin: 0 10px;
  padding: 0 20px;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #00000040;
}

.product-screen > sidebar {
  max-width: 400px;
}

//SIDEBAR SECTIONS
.product-sidebar__sections {
  margin-top: 22px;
  padding: 20px 15px;
  border: 1px solid #0000001a;
  border-radius: 8px;
}

//SCREEN DISPLAY
.product-info-side {
  flex-grow: 1;
  display: flex;
}
.product-info-side__section {
  flex-grow: 1;
  display: flex;
}

li.product-image {
  position: relative;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  outline: 1px solid #00000033;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    outline: 2px solid #2968c8;
  }
  img {
    width: 100%;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
