.product-display {
  .product-images {
    padding-top: 20px;
    padding-left: 2px !important;
  }

  .product-image-display {
    flex-grow: 1;
    display: grid;
    place-content: center;
    height: 500px;
    img {
      max-height: 400px;
    }
  }
}
