.gallery-ctn {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
		Arial, sans-serif;
}

.gallery-items-ctn {
	position: relative;
}
.gallery-items {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 450px;
	width: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		height: 0;
	}
	.item-card {
		margin: 0 5px;
	}
}

.gallery-item-next {
	display: none;
	position: absolute;
	top: 145px;
	right: 0;
	transform: translate(50%, -50%);
	justify-content: center;
	align-items: center;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	font-size: 20px;
	color: #3d88fa;
	cursor: pointer;
}

.gallery-items-ctn:hover > button {
	display: flex;
}

.gallery-items > a {
	margin: 0 5px;
}

@media only screen and (max-width: 1200px) {
	.gallery-ctn {
		margin-right: 10px;
		margin-left: 10px;
	}
	button.gallery-item-next {
		right: 30px;
	}
}

@media only screen and (max-width:600px){

	.gallery-ctn{
		margin-bottom: 40px;
		.gallery-title{
			width: 100%;
			padding: 10px 10px;
			margin: 0;
			border-radius: 4px 4px 0 0;
			background-color: #fff;
			font-size: 18px;
			color: #333333;
			font-weight: 600;
		}
	}
	.gallery-items-ctn{
		height: calc(126px * 4);
		overflow: hidden;
		
		.gallery-items{
			flex-direction: column;
			height: auto;
		}

	}
	.gallery-items-ctn:hover > button {
		display: none ;
	}

}
